<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/icon.png">
    <title>일정</title>
    <link rel="stylesheet" type="text/css" href="../css/schedule.css">
</head>
<body>
    <div class="content">
        <h2>졸업사진 촬영날</h2>
        <h2>
            졸업앨범 촬영 2024. 3. 6.(수) 오전 08시 40분<br>
            가. 사진촬영순서 전자과 -> 컴소과 -> 스콘과 -> 산디과<br> 
            나. 복장 : 동복 / 자유포즈 -> 춘추복(조끼입고)<br>
            다. 촬영 장소 : 1층 학부모 회의실<br>
        </h2>
    </div>
    <h2><a href="../../index.html">돌아가기</a></h2>
</body>