<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" type="text/css" href="../css/class.css">
    <title>1학기 시간표</title>
</head>
<body>
    <h1>시간표</h1>
    <table>
        <tr>
            <th></th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
        <tr>
            <td>1</td>
            <td>진로<br>박설</td>
            <td>응3<br>정정</td>
            <td>물리<br>성병</td>
            <td>응6<br>설진</td>
            <td>정3<br>정정</td>
        </tr>
        <tr>
            <td>2</td>
            <td>체육<br>박삼</td>
            <td>물리<br>성병</td>
            <td>영어<br>이경</td>
            <td>↓</td>
            <td>데베<br>김태</td>
        </tr>
        <tr>
            <td>3</td>
            <td>정3<br>정정</td>
            <td>응5<br>설진</td>
            <td>디논<br>강종</td>
            <td>수학<br>정영</td>
            <td>↓</td>
        </tr>
        <tr>
            <td>4</td>
            <td>↓</td>
            <td>↓</td>
            <td>↓</td>
            <td>응2<br>성영</td>
            <td>응6<br>설진</td>
        </tr>
        <tr>
            <td>5</td>
            <td>응2<br>성영</td>
            <td>영어<br>이경</td>
            <td>국사<br>조수</td>
            <td>디논<br>강종</td>
            <td>창체</td>
        </tr>
        <tr>
            <td>6</td>
            <td>↓</td>
            <td>데베<br>김태</td>
            <td>국어<br>민신</td>
            <td>↓</td>
            <td>창체</td>
        </tr>
        <tr>
            <td>7</td>
            <td>수학<br>정영</td>
            <td>↓</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
    </table>
    <h2><a href="../../index.html">돌아가기</a></h2>
</body>