<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="img/icon.png">
    <title>급식 정보 조회</title>
    <link rel="stylesheet" type="text/css" href="../views/css/eat.css">
    <script src="../js/eatapi.js" defer></script>

</head>
<body>
    <h1>급식 정보</h1>

    <section>
        <h2>오늘의 급식</h2>
        <div id="resultToday"></div>
    </section>

    <section>
        <h2>내일의 급식</h2>
        <div id="resultTomorrow"></div>
    </section>
</body>
</html>
